@media only screen and (max-width:786px){
h1{
	font-size: 48px;
	text-align: center;
	top: 15%;
	left: 35%;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container img {
    width: 15%;
    height: auto;
}
}