@media only screen and (max-width:250px){
.top-nav ul li{
	display:inline-block;
  }
}

@media only screen and (min-width:650px){
.top-nav ul{
	text-align: center;
}
.top-nav ul li{
	display:inline-block;
  }
	#main-content{
		margin-top: 130px;
	}
}

@media only screen and (min-width: 1000px){
.top-nav ul{
		text-align: right;
		padding-top: 20px;
}
.top-nav .logo{
    width: 50%;
    float: left;
    text-align: left;
}
	#main-content{
		margin-top: 150px;
	}
.photo-grid {
	overflow: hidden;
}
.photo-cell.expo{
	float: left;
	width: 48%;
	display: inline-block;
}

.photo-cell.wine {
	float: right;
	width: 48%;
	display: inline-block;
}

.photo-cell.snail{
	float: right;
	width: 48%;
	display: inline-block;
}

.photo-cell.grapes{
	float: left;
	width: 48%;
	display: inline-block;
}

.photo-cell.capstone{
	float: right;
	width: 48%;
	display: inline-block;
}


.photo-cell.instagram {
	float: left;
	width: 48%;
	display: inline-block;
}

.photo-cell.choco {
	float: left;
	width: 48%;
	display: inline-block;
}

.photo-cell.flower{
	float: right;
	width: 48%;
	display: inline-block;
}

}

@media (max-width: 650px) {
  .top-nav ul     { display: none; }
  nav select { display: inline-block; }
}

@media (max-width: 650px) {
  .circle     { 
  	width: 400px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12%;
	margin-bottom: 10%;
	border-radius: 200px;

	}
}
