/*-----MAIN-----*/
html {
  box-sizing: border-box;
}
html, body{
	height: 100%;
}
/*skip content*/
.skip{
	position: absolute;
	left: -999px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -999;
	color: #000000;
}
a.skip:active, a.skip:focus, a.skip:hover {
    position:fixed;
    top: auto;
    left: auto; 
	width: auto; 
	height: auto; 
	overflow: visible;
	z-index: 999;
}
html, body, header{
    background-color: #B0D9FF;
    font-family: 'Futura', sans-serif;
    margin: auto;
    padding: auto;
}
header, .logo {
	background-color: #000000;
	color: #B0D9FF; 
}
footer{
	background-color: #000000;
}
body{
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Futura', sans-serif;
}
p{
	font-family: 'Futura', sans-serif;
}
h1{ 
	font-size: 1.75em;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.17em;
}
h4{
	font-size: 1.12em;
}
h5{
	font-size: .83em;
}
h6{
	font-size: .75em;
}
.main-content{
	flex: 1 0 auto;
	margin-top: 110px;
}
.main-content h1{
	text-align: center;
}
.about, .work, .projects, .contact{
	margin: auto;
	padding-right: 3%;
	padding-left: 3%;
}

/*-----HEADER & NAVIGATION-----*/
header{
	font-family: 'Futura', sans-serif;
	font-size: 105%;
    width: 100%;
    position: fixed;
    z-index: 99999;
}
/*mobile-first*/
nav select {
  display: none;
}
.top-nav ul{
	list-style-type: none;
	padding: 0;
	background-color: #000000; /*CHANGE*/
	margin: 0;
	display: block;
}
.top-nav ul li, .menu-icon{
	border-bottom: 2px solid #ffffff;

}
.top-nav ul li a{
	font-size: 1em;
	color: #ffffff;
	text-decoration: none;
	padding: .5em 1em;
	display: block;
	text-align: center;
}
.menu-icon a{
	font-size: 1em;
	color: #ffffff;
	text-decoration: none;
	padding: .5em 1em;
	display: block;
	text-align: center;
}
.top-nav ul li a.current-page{
	color: #B0D9FF;
	font-weight: bold;
}
.top-nav ul li a.current-page:before {
  color: #B0D9FF;
  padding-right: 4px;
  position: relative;
  top: 1px;
}
.top-nav ul li a:hover, .menu-icon a:hover, .top-nav ul li a:focus, .menu-icon a:focus{
    background-color: #B0D9FF;
    color: #000000;
    font-weight: bold;
}
.top-nav ul li a:hover:before, .top-nav ul li a:focus:before{
  	color: #000000;
  	padding-right: 4px;
  	position: relative;
  	top: 1px;
}
/*implement menu toogle*/
.top-nav.toggle-open ul{
	display: block;
}

/*-----LOGO-----*/
.logo{
	background-color: #000000; /*CHANGE*/
	margin: 0;
	text-align: center;
	padding: .25em .75em;
}
.logo img{
	height: 3em;
}

/*-----FOOTER-----*/
footer{
	font-size: 1.5em;
	text-align: center;
}
footer p{
	padding-top: .75em;
	padding-bottom: .75em;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.icon{
	padding: .5em .25em 0;
	height: 25px;
}

/*-----HOMEPAGE-----*/
.main-content-home{
	margin-top: 250px;
}
.home-flag{
	color: #ffffff;
	display: flex;
	flex-direction: column;
	max-width: 300px;
	margin: auto;
	padding: 1.5em;
}

/*-----IMAGES PAGE ------*/
.main-content-projects{
	margin-top: 250px;
}
/*photo gallery*/
.projects{
	display: block;
	margin: auto;
	max-width: 1200px;
}
.photo-cell{
	margin-bottom: 2%;
	margin-left: 2%;
}
.photo-cell img {
	width: 98%;
  	display: inline-block;
}

/*-------RESUME--------*/

embed{
	width: 100%;
	height: 680px;
}

/*--------ABOUT-------*/
.circle {

	width: 500px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12%;
	margin-bottom: 10%;
	border-radius: 250px;

}

.text {
	color: #000000;
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	position: relative;
  	-webkit-transform: translateY(40%);
}

.name {

	color: black;
	font-size: 1.75em;
	opacity: 1;
	text-align: center;

}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-linkedin {
    background: #000000;
    color: white;
}

/* Twitter */
.fa-instagram {
    background: #000000;
    color: white;
}


